<% @products.each do |product| %>
  <tr id="<%= product.id %>">
    <td><%= product.name %></td>
    <td>
      <%= number_field_tag :product_quantity, session[:cart]["#{product.id}"]["quantity"], class: 'update-quantity', min: 1 %>
    </td>
    <td>$<%= product.price %></td>
    <td class='product-price'>$<%= total_product_price(session[:cart]["#{product.id}"]) %></td>
    <td>
      <%= link_to remove_from_cart_path(product_id: product.id), remote: true, data: { confirm: "Are you sure you want to delete", method: :delete } do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="3" class="text-right">
    Total Price:
  </td>
  <td colspan="3" class='total-price'>
    $<%= total_price %>
  </td>
</tr>