<nav class="navbar navbar-fixed-top" style="background:#99ccff;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Online Book Store", root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to carts_path do %>
            <span id="product-quantity"><%= current_user.try(:cart_items).try(:length) || session[:cart].keys.length %></span>
            <i class="fa fa-shopping-cart fa-5"></i>
          <% end %>
        </li>
      <% if current_user %>
        <li>
          <%= link_to "Orders", orders_path %>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %></span></a></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>